body {
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}




.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  background-size: cover;
}

.carousel-caption {
  bottom: 5rem;
  z-index: 10;
}
.overlay-image {
  position: absolute;
  background-size: cover;
  height: 32rem;
  background: #777;
  color: white;
  background-size: cover;
}

/* .container {
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding-bottom: 150px;

} */

.rounded-circle {
  background-image: url(./icon-1.png);
  background-size: contain; 
 
}

.col-md-5 {
  background-image: url(./slide-1.jpg);
  height: 500px;
  
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.featurette-divider {
  margin: 5rem 0; 
  ;
}

.featurette-heading {
  letter-spacing: -.05rem;
}



@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}








